@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

/* Now, let's apply it on an element */

*{
  font-family: system !important;
}
/* coditionally assign classes */
.activeQ{
  background: red;
}
a{
  text-decoration: none;
}
.answered{
  background: grey;
}
/* style for the login page */
.login{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background: #f2f2f2;
  color: #111;
}

.form-wraper{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  
}

.form-wraper div h3{
  align-self: center;
  text-align: center;
  margin: 30px 0;
  font-family: agency fb;
}

.social-login a{
  display: block;
  text-decoration: none;
  color: #fff;
  padding: 7px 15px;
  width: 350px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}

.social-login a:first-child{
  background: #cc0000;
  box-shadow: 0 0 3px 2px #ff9999;

}

.social-login a:nth-child(2){
  background: #0000e6;
  box-shadow: 0 0 3px 2px #9999ff;
  margin: 10px 0 30px 0;

}

.form-wraper form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-wraper form input,.form-wraper form button {
  display: block;
  color: #222;
  padding: 8px 15px;
  margin: 5px 0;
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 3px 2px #e6e6e6;
  cursor: pointer;
  
}

.form-wraper form input::placeholder{
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

/* input[type="password"]{
  background:url('./imgs/key.png');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position:left;
} */

.form-wraper form button{
  background: #00b300;
  font-weight: 600;
  color: #fff;
  box-shadow: 0 0 3px 2px #b3ffb3;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.err_msg{
  align-self: flex-start;
  margin-left: 7px;
  color: rgb(204, 0, 0);
  font-family: arial narrow;
  margin-bottom: 5px;
}

.form-wraper form p{
  color: #046604;
  align-self: flex-start;
  margin-top: 30px;
  font-family: Adobe Garamond Pro;
}

.register{
  display: none;
}

/* courses page */

.courses{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* justify-content: center; */
  width: 100vw;
  background: #dce1eb;
  overflow-x: hidden;
}
.hero{
  width: 100vw;
  position: relative;
  height: 100vh;
  
}
.hero img{
  width: inherit;
  height: 100vh;
  object-fit: cover;
  
}
.image-cover{
  background: rgba(0, 0, 0, .9);
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}
.hero-texts{
  position:absolute;
  top:33%;
  left:30px;
  color: #fff;
  margin-right: 30px;
  font-family: arial narrow;
  z-index: 1;
}
.show-case-title{
  display: flex;
  font-weight: 700;
  align-items: center;
}

.show-case-circle{
  box-shadow:0 0 2px 3px rgba(0, 0,0,.3),
  inset 0 0 2px 3px rgba(0, 0,0,.3);
  border: solid 2px white;
  height:20px;
  width:20px;
  border-radius: 50%;
  margin-right: 20px;
  margin-bottom: 10px;
}
.hero-texts h2{
  font-family: agency fb;
  margin-bottom: 10px;
}

.products{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  z-index: 20;
  grid-gap: 2px;
  /* margin: 10px; */
  padding: 10px 100px;
  align-self: center;
  width: 100vw;
  /* background: #f2f2f2; */
  /* box-shadow: 0 0 5px rgba(0,0,0,0.4); */
}
/* starting product */
/* no 1 */
.products_list:nth-child(1){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: #0F172A;
  color: #fff;
  padding: 15px;
}
.products_list:nth-child(1) .courseHead{
align-items: flex-start;
padding: 0 20px;
/* align-self: flex-start; */
}
.products_list:nth-child(1) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(1) .courseHead .paraName{
  font-size: 1rem;
  font-weight: bold;
  color: #139d37;
  text-align: left;
}
.products_list:nth-child(1) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 20px;
}
/* no 4 */
.products_list:nth-child(4){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: #13AA52;
  color: #0F172A;
  padding: 15px;
}
.products_list:nth-child(4) .courseHead{
align-items: flex-start;
padding: 0 20px;
/* align-self: flex-start; */
}
.products_list:nth-child(4) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
  color: #fff;
}
.products_list:nth-child(4) .courseHead .paraName{
  font-size: 1rem;
  font-weight: bold;
  color: #0F172A;
  text-align: left;
}
.products_list:nth-child(4) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 20px;
}


/* no 2 */
.products_list:nth-child(2){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: #0B3B35;
  color: #0F172A;
  padding: 15px;
}
.products_list:nth-child(2) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(2) .courseHead .text-muted{
  color: #fff;
  font-size: 2.3rem;
  font-weight: bold;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(2) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(2) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(2) .course_name{
  display: flex;
  flex-direction: row-reverse;
}
/* no 3 */
.products_list:nth-child(3){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  /* background: #0B3B35; */
  color: #0F172A;
  border: 3px solid #0F172A;
  padding: 15px;
}
.products_list:nth-child(3) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(3) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(3) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(3) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(3) .course_name{
  display: flex;
  flex-direction: row-reverse;
}
/* no 5 */
.products_list:nth-child(5){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: #0B3B35;
  color: #0F172A;
  padding: 15px;
}
.products_list:nth-child(5) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(5) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(5) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(5) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(5) .course_name{
  display: flex;
  flex-direction: row-reverse;
}
/* no 6 */
.products_list:nth-child(6){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  border: 3px solid rgb(15, 23, 42);
  color: rgb(15, 23, 42);
  /* color: #fff; */
  padding: 15px;
}
.products_list:nth-child(6) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(6) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(6) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(6) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(6) .course_name{
  display: flex;
  flex-direction: row-reverse;
}
/* no 7 */
.products_list:nth-child(7){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: rgb(15, 23, 42);
  color: #fff;
  padding: 15px;
}
.products_list:nth-child(7) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(7) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(7) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(7) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(7) .course_name{
  display: flex;
  flex-direction: row-reverse;
}
/* no 8 */
.products_list:nth-child(8){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: hsl(145, 80%, 37%);
  color: #0F172A;
  padding: 15px;
}
.products_list:nth-child(8) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(8) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(8) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(8) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(8) .course_name{
  display: flex;
  flex-direction: row-reverse;
}
/* no 9 */
.products_list:nth-child(9){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: rgb(15, 23, 42);
  color: #fff;
  padding: 15px;
}
.products_list:nth-child(9) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(9) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(9) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(9) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(9) .course_name{
  display: flex;
  flex-direction: row-reverse;
}
/* no 10 */
.products_list:nth-child(10){
  flex-direction: column-reverse;
  /* justify-content: space-between; */
  background: rgb(15, 23, 42);
  color: #fff;
  padding: 15px;
}
.products_list:nth-child(10) .courseHead{
  align-items: flex-start;
  padding: 0 10px;
  /* align-self: flex-start; */
  }
.products_list:nth-child(10) .courseHead .text-muted{
  font-size: 2.3rem;
  font-weight: 600;
  text-align: left;
  margin-top: -10px;
}
.products_list:nth-child(10) .courseLinks{
  display: flex;
  flex-direction: row-reverse;
  align-self: flex-end;
  padding: 0 10px; 
}
.products_list:nth-child(10) .courseHead .paraName{
  margin-top: 2px;
  font-size: .9rem;
  font-weight: bold;
  color: #139d37;
  text-align: left; 
}
.products_list:nth-child(10) .course_name{
  display: flex;
  flex-direction: row-reverse;
}

/* the end of mansory design single contaner*/

.products_list:nth-child(5){
  grid-column: 2/4;
}
.products_list:nth-child(6){
  grid-column: 1/3;
}

.not-found{
  background:#dce1eb;
  max-width: 300px;
  padding: 5px 15px;
  color:#ff7782;
  z-index: 5;
  border-radius: 5px;
  align-self: center;
}

.products_list{

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.products_list:hover{
  transform: translateY(-5px);
  transform: scale(1.050);
  transition: transform .5s;
}
.products_list a{
  text-decoration: none;
  color: #111;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.products_list a .effect{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pro-image{
  width: 150px;
  height: auto;
}
.products_list p{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: agency fb;
  font-weight: 700;
  font-size: 16px;
}

/* styles for quiz page */
.quiz{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: #f2f2f2;
}
.quiz-sec{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 0 15px;
}

.quiz-utils{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 30px 15px;
  box-shadow: #e6e6e6;
  width: 90%;
  margin-bottom: 30px;
  border-radius: 0 0 10px 15px;
}

.quiz-utils-desktop{
  display: none;
}

.user-{
  display: flex;
  align-items: center;
  font-family: agency fb;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 3px 2px #e6e6e6;
  padding: 1px 0 1px 3px;
  border-radius: 15px;
}

.user- img{
  width: 30px;
  height: 30px;
  background: #fff;
  padding: 7px;
  border-radius: 50%;
  margin-right: 15px;
  box-shadow: 0 0 3px 2px #e6e6e6;
  border: solid 1px rgba(0, 255, 0, 0.8);
}

.ct{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5px
}

.subjects{
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem;
  max-width: 200px;
}

.subjects button{
  border:none;
  outline: none;
  cursor: pointer;
  background: #fff;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px 2px #e6e6e6;
  font-weight: 600;
  font-family: consolas;
}

.subjects button.active{
  background: green;
  color: white;
}

.time{
  background: #fff;
  padding: 3px 15px;
  display: flex;
  align-items: center;
  transform: skewX(-20deg);
  box-shadow: 0 0 3px 2px #e6e6e6;
  font-weight: 600;
  font-family: consolas;
}

.ct div:first-child{
  font-weight: 700;
  font-size: 18px;
  font-family:agency fb;
}

 .index{
  align-self: center;
  width: 250px;
  overflow: auto;
  white-space: nowrap;
  padding: 10px 0;
 
}

.index::-webkit-scrollbar{
  height: 3px;
  cursor: pointer;
  
}
.index::-webkit-scrollbar-track{
  background: #fff;
 
}
.index::-webkit-scrollbar-thumb{
  background: rgba(0, 255, 0, 0.8);
}

.index button{
  padding: 5px 15px;
  margin: 3px;
  outline: none;
  border: none;
  display: inline-block;
  box-shadow: 0 0 2px 1px #fff;
  border-radius: 10px;
  font-family: consolas;
  cursor: pointer;
}



.quiz-main p{
  max-width: 350px;
  line-height: 1.5;
  font-family: calibri;
  margin: 0 5px;
}
.options{
  margin-top: 30px;
}
.options button, .next button{
  display: block;
  color: #111;
  padding: 8px 15px;
  margin: 5px 0;
  width: 350px;
  height: 35px;
  border-radius: 10px;
  border: none;
  outline: none;
  box-shadow: 0 0 3px 2px #e6e6e6;
  background: #fff;
  cursor: pointer;
  text-align: left;
  display: flex;
  align-items: center;
}

.options button:hover{
  transform: scale(1.06);
  transition: transform 500ms;
}

.options button span{
  font-size: 18px;
  font-weight: 800;
  margin-right: 15px;
}

.next button{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00b300;
  color: #fff;
  font-family: calibri;
  font-weight: 800;
  margin-top: 30px;
}

.next button:hover{
  background: rgba(255,255,255,.7);
  box-shadow:0 0 3px 2px rgba(0, 255, 0, 0.8);
  color: #00b300;
  transition:  color 600ms, background 1s;
}

.quit{
  /* background: rgb(179,0 ,0); */
  padding: 5px 25px 5px 10px;
  font-family:AvantGarde Bk BT;
  border-radius: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  background: #cc0000;
  box-shadow: 0 0 3px 2px #ff9999;
  cursor: pointer;
  position: fixed;
  top:30px;
  right:5%;

}

.quit:hover{
  transform: scale(1.02);
  transition: transfrom 1.5s;
}

.quit img{
  width: 28px;
  height: 28px;
  margin-right: 5px;
}

.no-err{
  display: none;
}

.there-err{
  display: block;
  background: rgb(204, 0, 0);
  color: #fff;
  border-radius: 5px;
  margin-bottom: 15px;
  align-self: flex-start;
  padding: 5px 10px;
}

@media(max-width:408px){
  .products{
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    gap:0;
    margin:0;
    padding:5px 0;
    transform: translateY(-20px);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }
  .products_list{
      align-items: flex-start;
      padding:10px 25px;
      border: none;
      border-radius: 0;
      box-shadow: 0 2px 6px rgb(230 , 246, 253);
  }
  .products_list a .effect{
    align-items: flex-start;
  }
  .products_list p{
    text-align: left;
    margin-bottom: 3px;
  }
  .products_list a img{
    display: none;
  }
}

@media(min-width:700px){
  .hero{
    width: 100vw;
    position: relative;
    margin-top: -35vh;
  }
  .hero-texts{
    top: 55%;
    left: 150px;
    
  }
  .products{
    grid-gap: 10px;
    /* transform: translateY(-130px); */
    margin-top: -90px;
    z-index: 10;
    width: 90vw;
  }

  /* quiz page desktop site */
  /* .quiz-sec{
    display: flex;
    flex-direction: row;
    gap: 30px;
  } */
  .quiz-sec{
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 3fr;
  }
  .quiz-utils{
    display: none;
  }

  .quiz-utils-desktop{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    max-width: 350px;
    /* align-self: flex-start; */
    padding: 30px 15px;
    box-shadow: #e6e6e6;
    width: 90%;
    margin-bottom: 30px;
    border-radius: 0 0 10px 15px;
  }
  .user-{
    width: 250px;
  }
  .subjects{
    margin: 15px 0;
  }
  .ct{
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
  .time{
    transform: skewX(0deg);
  }
  .index{
    /* width:170px; */
    display: flex;
    align-items: flex-start;
    align-self: flex-start;
    overflow: hidden;
    white-space: normal;
    flex-wrap: wrap;
    /* box-shadow: 0 0 3px 2px #e6e6e6; */
    padding: 10px;
    text-align: right;
  }

  .index button{
    display:inline-block;
    border: solid 0.2px rgba(0, 255, 0, 0.3);
  }

  .quiz-main{
    grid-column:2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 70%; */
  }

  .progress-bar{
    padding: 1px 0;
    margin-top: 10px;
    height: 6px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px rgba(0, 255, 0, 0.7);
    display: flex;
    align-items: center;
  }

  .bar{
    padding: 3px 2px;
    border-radius: 5px;
    background: rgba(0, 255, 0, 0.7);
    /* width: 10px; */
  }

  .fwr{
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
  }
  .register{
    background: #00b300;
    padding: 30px;
    height:300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

  }

  .register a{
    background: #fff;
    color: #00b300;
    font-family: agency fb;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
    width: 60%;
    text-align: center;
  }

  .register h3{
    font-family: agency fb;
    color: #fff;
    font-weight: 700;
  }
  
}

button.selected{
  background: red;
}
